body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

.up {
    color: green;
}
.down {
    color: red;
}
.history-container {
    clear:both;
}

.history-item-xmr {
    width: 25%;
    float:left;
    display:block;
}

.history-item-time {
    width: 40%;
    float:left;
    display:block;
}
.history-item-price {
    width: 35%;
    float:left;
    display:block;
}

.ticker {
}

.ticker-price {
    font-size: 50px;
    font-weight: bold;
    display:block;
    float:left;
}

.ticker-currency {
    margin-top:34px;
    margin-left:5px;
    display:block;
    float:left;
}

#chart-control {
    margin-top: 33px;
    margin-left: 52px;
}

#chart {
    margin-top: -3px;
}

.chartmenu {
    cursor: pointer;
}

.selected-period {
    font-weight: bold;
}
#pricecontainer {
    display: block;
    float:left;
}

#chartarea {
    display: block;
    float:left;
}