body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

.up {
    color: green;
}
.down {
    color: red;
}
.history-container {
    clear:both;
}

.ticker {
}

.ticker-price {
    font-size: 40px;
    display:block;
    float:left;
}

.ticker-currency {
    margin-top:19px;
    margin-left:5px;
    display:block;
    float:left;
}

.chartmenu {
    cursor: pointer;
}

.selected-period {
    font-weight: bold;
}

#pricecontainer {
    display: block;
    float:left;
}

#chartarea {
    display: block;
    float:left;
}